<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            background: linear-gradient(135deg, #175e44, #21bec5);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: black;
        }
    </style>
</head>

<body>
    <h1>Ups, salah alamat!</h1>
    <br>
    <h2 style="font-size: 120px; margin:0;">🙈🙉🙊</h2>
    <br>
    <h3><a class="btn btn-light action-button" href="{{ "/" | relURL }}">Kembali</a></h3>
</body>

</html>