{{ define "main" }}
<div>
  <div class="header-blue">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
      <div class="container">
        <a class="navbar-brand" href="{{ "/" | relURL }}"
          style="font-family: 'Kaushan Script', cursive;">{{ .Site.Title }}</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
            navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ml-auto">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{if not (eq .Identifier "categories")}}
            <li
              class="nav-item {{ if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }} active {{end}}">
              <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{else}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{ .URL | relURL }}" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ .Name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item border-bottom" href="{{ .URL | relURL }}">Semua</a>
                {{ range $name, $taxonomy := $currentPage.Site.Taxonomies.categories }}
                {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
                <a class="dropdown-item" href="{{ .Permalink | relURL }}">{{ $name | humanize }}</a>
                {{ end }}
                {{ end }}
              </div>
            </li>
            {{end}}
            {{ end }}
          </ul>
          <!-- <form class="form-inline mr-auto" target="_self"></form><span class="navbar-text"> <a class="login" href="#">Masuk</a></span><a class="btn btn-light action-button" role="button" href="#">Daftar</a></div> -->
          {{ partial "search-form-landing.html" . }}
        </div>
    </nav>
    <div class="container hero">
      <div class="row">
        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
          <h1 style="font-family: 'Source Sans Pro', sans-serif;">Jalan Termudah untuk Memecahkan Masalah</h1>
          <p>Dari Programmer, oleh Programmer, untuk Programmer</p>
          <!-- <button class="btn btn-light btn-lg action-button disabled">Buka Forum</button>
          <p>*Masih dalam pengembangan</p> -->
        </div>
      </div>
    </div>
  </div>

  {{ partial "post-grid.html" .}}

  <!--<div class="team-boxed">-->
    <!--<div class="container">-->
      <!--<div class="intro">-->
        <!--<h2 class="text-center">Author</h2>-->
        <!--<hr>-->
      <!--</div>-->
      <!--<div class="row people justify-content-center">-->
        <!--{{ $authors := .Site.Data.authors}}-->
        <!--{{range $authors}}-->

        <!--<div class="col-md-6 col-lg-4 item">-->
            <!--<div class="box">-->
            <!--<img class="rounded-circle"-->
              <!--src="{{.image}}">-->
            <!--<h3 class="name">{{.name}}</h3>-->
            <!--<p class="title">{{.title}}</p>-->
            <!--<p class="description">{{.bio}}</i></p>-->
            <!--<div class="social"><a href="{{.social.fb}}"><i-->
                  <!--class="fa fa-facebook-official"></i></a><a href="{{.social.github}}"><i-->
                  <!--class="fa fa-github"></i></a><a href="{{.social.instagram}}"><i-->
                  <!--class="fa fa-instagram"></i></a></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--{{end}}-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  {{ end }}
