{{ define "main" }}
<div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container">
                <a class="navbar-brand" href="{{ "/" | relURL }}" style="font-family: 'Kaushan Script', cursive;">{{ .Site.Title }}</a>                    
                    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav mr-auto">
                                {{ $currentPage := . }}
                                {{ range .Site.Menus.main }}
                                  <li role="presentation" class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                                    <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                                  </li>
                                {{ end }}
                              </ul>
                        <!-- <form class="form-inline mr-auto" target="_self"></form><span class="navbar-text"> <a class="login" href="#">Masuk</a></span><a class="btn btn-light action-button" role="button" href="#">Daftar</a></div> -->
        </div>
        </nav>
        <div class="container hero">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1 style="font-family: 'Source Sans Pro', sans-serif;">Jalan Termudah untuk Memecahkan Masalah</h1>
                    <p>Website ini hadir untuk membantu menemukan jawaban dari permasalahan para programmer</p><button class="btn btn-light btn-lg action-button" type="button">Buka Forum</button></div>
            </div>
        </div>
    </div>
<div class="features-clean" style="padding: 0px 0px 120px;">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Keunggulan</h2>
            <hr>
            <p class="text-center">Dengan website ini, anda akan diberikan beberapa keuntungan tersendiri</p>
            <hr>
        </div>
        <div class="row features">
            <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon" style="color: #21bec5;"></i>
                <h3 class="name">Ada setiap saat</h3>
                <p class="description">Masalah anda tentang <em>programming</em> akan selalu mendapat tempat untuk
                    dijawab kapanpun!</p>
            </div>
            <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon" style="color: #21bec5;"></i>
                <h3 class="name">Dapat diakses dimana saja</h3>
                <p class="description">Anda dapat bertanya dimana saja karena siapapun juga dapat menjawab pertanyaan
                    anda darimana saja!</p>
            </div>
            <div class="col-sm-6 col-lg-4 item"><i class="fa fa-users icon" style="color: #21bec5;"></i>
                <h3 class="name">Umum</h3>
                <p class="description">Siapapun dapat melihat pertanyaan/jawaban anda agar dapat didiskusikan bersama!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Tim</h2>
            <hr>
            <p class="text-center">Sedikit tentang siapa yang bekerja dibalik website ini</p>
            <hr>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item"></div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box"><img class="rounded-circle"
                        src="/assets/img/48416230_142994350025030_3331784664707760128_n.jpg">
                    <h3 class="name">Dhymas Julyan Riyanto</h3>
                    <p class="title">mahasiswa</p>
                    <p class="description">Hanya seorang mahasiswa yang suka mahasiswi</p>
                    <div class="social"><a href="http://facebook.com/dhymas.riyanto.3"><i
                                class="fa fa-facebook-official"></i></a><a href="https://github.com/dhymasriyanto"><i
                                class="fa fa-github"></i></a><a href="http://instagram.com/dhymasriyanto"><i
                                class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item"></div>
        </div>
    </div>
</div>
{{ end }}