{{ define "main" }} {{ partial "header.html" . }} {{ $images := .Resources.ByType "image" }}
{{ $image := index $images 0 }} {{ $image := $image.Fill "1280x768 smart" }}
<div class="article-clean">
    <br>
    <br>
    <br>
    
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">{{ .Title }}</h1>
                        <hr>
                        {{ $var := "Tentang" }} {{ if not (eq $var .Title) }}
                        {{ $author := index .Site.Data.authors (.Params.author | default "dhymas") }}

                        <p class="text-center"><span class="by">oleh</span>
                            {{- if $author -}}
                            <a href="{{$author.homepage}}">
                                    {{ $author.name }}
                            </a>
                            {{- end -}}
                            <span
                                class="date">{{ .Date.Format "2 Jan 2006" }} </span></p>
                        {{ end }}

                        <img class="img-fluid" src="{{ $image.RelPermalink }}">
                    </div>

                    <div class="text">
                        {{ .Content }}
                        <!-- more -->
                        <br>
                        {{ if not (eq $var .Title) }}
			<div class="row text-center">
				<div class="col-sm">
                        	{{ if .NextPage }}
				<a href="{{ .NextPage.Permalink }}?ref=footer"> « {{ .NextPage.Title | truncate 50 "..."}}</a>
				{{ end }}
                        	</div>
				<div class="col-sm">
				{{ if .PrevPage }}	
				{{ $var := "Tentang" }} {{ if not (eq $var .PrevPage.Title) }}
				<a href="{{ .PrevPage.Permalink }}?ref=footer"> {{ .PrevPage.Title | truncate 50 "..." }} » </a>
					{{ end }}
				{{ end }}
				</div>
			</div>
                       <hr>
                        <center>
                            <p>Tag :</p>
                            <div>
                                {{ range .Params.tags }}
                                <span class="badge badge-secondary">
                                    #<a class="text-white"
                                        href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                                </span>
                                {{ end }}
                            </div>
                            <hr>
                            
                            {{ $related := .Site.RegularPages.RelatedIndices . | first 3 | shuffle}}
                                {{if $related}}
                                    <p>Artikel Terkait :</p>
                                    <div>
                                        {{ with $related }}
                                            <ul style="list-style: none;list-style-position: inside; margin: 0; padding: 0;">
                                                {{ range . }}
                                                <li style="list-style-position: inside; margin: 0; padding: 0;">
                                                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                                </li>
                                                {{end}}
                                            </ul>
                                        {{ end }}
                                    </div>
                                {{else}}
                                    <p>Belum ada artikel terkait. :')</p>
                                {{end}}
                        </center>
                    </div>
                    <hr>
                    <br>
                    {{partial "disqus.html" . }}
                    {{end}}
                    <br>

                </div>
            </div>
        </div>
    </div>
    <br>
</div>

{{ end }}
