{{ define "main" }} {{ partial "header.html" . }} {{ $images := .Resources.ByType "image" }}
{{ $image := index $images 0 }} {{ $image := $image.Fill "1280x768 smart" }}
<div class="article-clean">
    <br>
    <br>
    <br>
    
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">{{ .Title }}</h1>
                        <hr>
                        {{ $var := "Tentang" }} {{ if not (eq $var .Title) }}
                        <p class="text-center"><span class="by">oleh</span> <a
                                href="{{.Site.Author.homepage}}">{{.Site.Author.name}}</a><span
                                class="date">{{ .Date.Format "2 Jan 2006" }} </span></p>
                        {{ end }}

                        <img class="img-fluid" src="{{ $image.RelPermalink }}">
                    </div>

                    <div class="text">
                        {{ .Content }}
                        <!-- more -->
                        <br>
                        {{ if not (eq $var .Title) }}
                        <hr>
                        <center>
                            <p>Tag Terkait :</p>
                            <div>
                                {{ range .Params.tags }}
                                <span class="badge badge-secondary">
                                    #<a class="text-white"
                                        href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                                </span>
                                {{ end }}
                            </div>
                        </center>
                    </div>
                    <hr>
                    <br>
                    {{partial "disqus.html" . }}
                    {{end}}
                    <br>

                </div>
            </div>
        </div>
    </div>
    <br>
</div>

{{ end }}