{{ define "main" }} {{ partial "header.html" . }} {{ $images := .Resources.ByType "image" }} {{ $image := index $images 0 }} {{ $image := $image.Fill "1280x768 smart" }}
<div class="article-clean">
    <br>
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center">{{ .Title }}</h1>
                        <hr>
                        {{ $var := "Tentang" }} {{ if not (eq $var .Title) }}
                        <p class="text-center"><span class="by">oleh</span> <a href="#">Author</a><span class="date">{{ .Date.Format "2 Jan 2006" }} </span></p>
                        {{ end }}
                        <img class="img-fluid" src="{{ $image.RelPermalink }}"></div>

                    <div class="text">
                           {{ .Content }}
                          <!-- more -->
                    </div>

                    <br>
                    <br>
                    <hr>
                    {{ if not (eq $var .Title) }}
                    {{partial "disqus.html" . }}
                    {{end}}
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

{{ end }}