<footer>
    <div class="footer-basic" style="color: #21bec5;">
        <footer>
            <div class="social"><a href="http://instagram.com/dhymasriyanto"><i class="fa fa-instagram"></i></a><a href="https://github.com/dhymasriyanto"><i class="icon ion-social-github"></i></a><a href="http://facebook.com/dhymas.riyanto.3"><i class="icon ion-social-facebook"></i></a></div>
            <ul
                class="list-inline">
                <li class="list-inline-item"><a href="#">Beranda</a></li>
                <li class="list-inline-item"><a href="#">Forum</a></li>
                <li class="list-inline-item"><a href="#">Tentang</a></li>
                </ul>
                <p class="copyright">Ngoding Kuy! © 2019</p>
        </footer>
    </div>

</footer>