<footer>
    <div class="footer-basic" style="color: #21bec5;">
        <footer>
            <div class="social">
                <a href="http://instagram.com/dhymasriyanto"><i class="fa fa-instagram"></i>
                </a><a href="https://github.com/dhymasriyanto"><i class="icon ion-social-github"></i>
                </a><a href="http://facebook.com/dhymas.riyanto.3"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">

                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li
                    class="list-inline-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
                    <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
            <p class="copyright"> <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}  </a> &copy; {{ now.Format "2006"}}</p>
        </footer>
    </div>

</footer>