<header>
    <div >
        <nav class="navbar navbar-light border navbar-expand-md navigation-clean-button"    >
            <div class="container">
                <a class="navbar-brand" href="{{ "/" | relURL }}" style="font-family: 'Kaushan Script', cursive; color: #21bec5; ">{{ .Site.Title }}</a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ml-auto">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                        {{if not (eq .Identifier "tags")}}
                          <li class="nav-item {{ if or ($currentPage.IsMenuCurrent "main" . ) ($currentPage.HasMenuCurrent "main" . ) }} active {{end}}">
                            <a class="nav-link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                          </li>
                        {{else}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{ .URL | relURL }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ .Name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item border-bottom" href="{{ .URL | relURL }}">Semua</a>
                              {{ range $name, $taxonomy := $currentPage.Site.Taxonomies.tags }}
                                {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                                  <a class="dropdown-item" href="{{ .URL | relURL }}">{{ $name | humanize }}</a>
                                {{ end }}
                              {{ end }}
                            </div>
                          </li> 
                        {{end}}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>