<header>

    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button"
            style="font-family: 'Source Sans Pro', sans-serif;color: #21bec5;">
            <div class="container"><a class="navbar-brand" href="#"
                    style="font-family: 'Kaushan Script', cursive;">Ngoding Kuy!</a><button data-toggle="collapse"
                    class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Forum</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Tentang</a></li>
                    </ul>
                    <!-- <span class="navbar-text actions"> <a class="login" href="#">Masuk</a><a
                            class="btn btn-light action-button" role="button" href="#">Daftar</a></span> -->
                </div>
            </div>
        </nav>
    </div>
</header>