<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script
  type="text/javascript"
  src="/assets/bootstrap/js/bootstrap.min.js"
></script>
<script
  type="text/javascript"
  src="/assets/js/jquery-3.2.1.slim.min.js"
></script>
<script type="text/javascript" src="/assets/js/popper.min.js"></script>
<script type="text/javascript" src="/assets/js/prism.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
