<div class="features-boxed">
    <div class="intro">
        <br>
        <br>
        {{ $var := "Ngoding Kuy!"}} {{ $var2 := "Categories"}} {{$var3 := "Posts"}} {{ if eq $var .Title }}
        <h2 class="text-center">Posting Terkini</h2>

        {{else if eq $var2 .Title}}
        <h2 class="text-center">Semua Kategori</h2>
        {{else if eq $var3 .Title}}
        <h2 class="text-center">Semua Posting</h2>
        {{else}}
        <h2 class="text-center">Kategori : {{.Title}}</h2>
        {{end}}
        <hr>
    </div>

    <!-- {{partial "test.html" . }} -->

    <div class="container">
        {{ $recentposts := 2 }}
        {{ if .Params.recentposts }}
        {{ $recentposts = .Params.recentposts }}
        {{ end }}

        {{ if eq $var .Title }}
        {{ range first $recentposts (where .Pages "Type" "posts" ) }}

        <div class="row justify-content-center features">
            {{ $images := .Resources.ByType "image" }} {{ $image := index $images 0 }}
            {{ $image := $image.Fill "512x360 smart" }}
            {{ $var := "Tentang" }}
            {{ if not (eq $var .Title) }}

            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <figure class="snip1527">
                        {{if $images}}
                        <div class="image"><img src="{{ $image.RelPermalink }}" alt="pr-sample23" /></div>
                        {{else}}
                        <div class="image"><img
                                src="https://placeholder.pics/svg/300x160/DEDEDE/555555/Tidak%20Ada%20Gambar"
                                alt="pr-sample23" /></div>

                        {{end}}
                        <figcaption>
                            {{if or ($images) (not (eq $var .Title))}}

                            <div class="date">
                                <span class="day">{{ .Date.Format "2" }}</span>
                                <span class="month">{{ .Date.Format "January" }}</span>
                            </div>
                            {{end}}
                            <h5>{{ .Title }}</h5>
                            <p style="color: white">
                                {{ .Summary }}
                            </p>
                        </figcaption>
                        <a href="{{ .RelPermalink }}"></a>
                    </figure>
                </div>
            </div>
            {{end}}
        </div>
        {{ end }}
        {{else}}

        <div class="row justify-content-center features">

            {{ range (.Paginator 9).Pages }} {{ $images := .Resources.ByType "image" }} {{ $image := index $images 0 }}
            {{ $image := $image.Fill "512x360 smart" }}
            {{ $var := "Tentang" }}
            {{ if not (eq $var .Title) }}

            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <figure class="snip1527">
                        {{if $images}}
                        <div class="image"><img src="{{ $image.RelPermalink }}" alt="pr-sample23" /></div>
                        {{else}}
                        <div class="image"><img
                                src="https://placeholder.pics/svg/300x160/DEDEDE/555555/Tidak%20Ada%20Gambar"
                                alt="pr-sample23" /></div>

                        {{end}}
                        <figcaption>
                            {{if or ($images) (not (eq $var .Title))}}

                            <div class="date">
                                <span class="day">{{ .Date.Format "2" }}</span>
                                <span class="month">{{ .Date.Format "January" }}</span>
                            </div>
                            {{end}}
                            <h5>{{ .Title }}</h5>
                            <p style="color: white">
                                {{ .Summary }}
                            </p>
                        </figcaption>
                        <a href="{{ .RelPermalink }}"></a>
                    </figure>
                </div>
            </div>
            {{end}}
            {{ end }}
        </div>
        {{end}}
        {{ if and (not (eq $var .Title)) (not (eq $var2 .Title)) }}
        {{partial "pagination.html" . }}
        {{end}}
        <br>
    </div>
</div>