<form action="{{ with .Site.GetPage "/search" }}{{.Permalink}}{{end}}" method="GET" class="me-auto search-form" >
    <div class="d-flex align-items-center">
        <label class="form-label d-flex mb-0" for="search-field">
            <i class="fa fa-search"></i>
        </label>
        <input
            class="form-control search-field heading-navbar"
            type="search"
            id="search-input"
            name="query"
            placeholder="Search here!"
        />
    </div>
</form>
