<form class="me-auto search-form" action="{{ with .Site.GetPage "/search" }}{{.Permalink}}{{end}}" method="GET">
    <div class="d-flex align-items-center justify-content-center">
        <!-- <label class="form-label d-flex mb-0" for="search-field">
            <i class="fa fa-search"></i>
        </label> -->
        <input
            class="form-control search-field landing-page text-center"
            autocomplete="off"
            type="search"
            id="search-input"
            name="query"
            placeholder="Cari disini!"
        />
    </div>
</form>
